<div class="header-left">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <div class="top-nav">
            <ul>
                <li class="active"><a href="/">世界著名供应商</a></li>
            </ul>
            <ul>
                <li class=""><a href="/updateLog">主站更新日志</a></li>
            </ul>
             <ul>
                <li class=""><a href="/mainAction">主要功能介绍</a></li>
            </ul>
             <ul>
                <li class=""><a href="/caidana">要不要留下彩蛋</a></li>
            </ul>
        </div>
        <ul class="social-in">
            <li><a href="#"><i class="email"> </i></a></li>
        </ul>
    </div>