<div class="clearfix"></div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid" style="padding-top: 10px;">
            © 快易购 粤ICP备13003228号-1
        </div>
    </nav>

    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="js/main.js"></script>